* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto";
}
:root {
    --border-color: linear-gradient( 180deg,rgb(212 187 194) 0%,rgb(167 136 155) 100% );
    -webkit-backdrop-filter: blur(3px);
    --menubackground: linear-gradient(270deg, #FFF323 -473.83%, rgba(255, 243, 35, 0) 83.89%)
}